<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @name.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @name.address %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
